.outline-content {
    background: #2E3138;
    padding: 5px 0;
}

.toc-item-link {
    height: 30px, font-size: 13px;
    display: flex !important;
    align-items: center;
    text-indent: -20px;
}

.toc-item-link>* {
    padding: 0 0 0 12px;
}

.toc-item-link:hover {
    font-weight: normal;
    text-decoration: none;
    background: #4E4E4E;
    cursor: default;
}

a#header {
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 6px;
}

a#header::before {
    content: "\e917";
    font-family: "icomoon" !important;
    font-size: 18px;
    color: #ffffff;
    margin: 0 8px 0 0;
    font-weight: 300;
    top: 3px;
    position: relative;
}
